.navBar{
    background-color: $colGhostWhite;
    box-shadow: 0px 0px 30px $colMixPurpleBlue;
    &__image{
        width: 40px;
    }
    &__span{
        position: "relative";
        top: "6px";
        left: "5px";
        color: #eac9c0;
        font-family: cursive;
    }
    &__middle {
        flex-direction: "column";
    }
    &__list{
        &__item{
            &__link{
                color: $colPurple;
                font-family: sans-serif;
                &--active{
                    color:$colMixPurpleBlue;
                }
            }
        }
    }
    &__button{
        border-radius: 20px;
        padding: 0px;
        &__link{
            border: 2px solid $colPurple;
            color: $colPurple;
            font-family: cursive;
            padding: "0px";
            border-radius: 30px;
            background-color: $colPurple;
            color: $colGhostWhite;
            &:hover{
                color: $colPurple;
                background-color: $colGhostWhite;
                cursor: pointer;
            }
        }
    }
    .nav-link {
        padding: 0.3rem .7rem;
    }
}