.about{
    margin: 2rem;
    &__left{
        justify-content: end;
        &__header{
            color: $colPurple;
            padding-top: 5rem;
        }
        &__para{
            color: $fontColor;
            padding-top: 1.5rem;
            padding-left: 2rem;
        }
    }
    // &_-right{
    //     &__image{

    //     }
    // }
}