.blogs{
    background-color: $colGhostWhite;
    padding-top: 3rem;
    display: grid;
    .container{
        margin: 0 auto;
    }
    justify-content: center;
    &__header{
        color: $colPurple;
        text-align: center;
        padding-bottom: .5rem;
        width: fit-content;
        margin: 0 auto;
        border-bottom: 2px solid;
    }
    &__morebtn{
        display: grid;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
}