.editprofile {
  &__header {
    display: grid;
    justify-content: center;
    gap: 0.5rem;
    padding: 2rem 0rem;
    border-bottom: 2px solid $colPurple;
    &__image {
      text-align: center;
      &__img {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        border: 2px solid $colPurple;
      }
    }
    // &__inputupload {
    //   text-align: center;
    //   background-color: #ffffff;
    //   color: #9381ff;
    // }
    &__name {
      color: $colPurple;
      text-align: center;
    }
  }
  &__edit {
    margin: 0 auto;
    padding: 2rem 0rem;
    border-bottom: 2px solid $colPurple;

    &__form {
      margin: 0 auto;
      margin-bottom: 0rem;
      width: 70%;

      .is-link {
        margin: 1rem 0rem;
        background-color: #ffffff6b;
      }
      &__input {
        margin: 0.5rem;
      }
      &__btn {
        &--save {
          margin: 1rem 0.5rem 1rem 0rem;
          background-color: $colPurple;
          color: $colGhostWhite;
          &:hover {
            color: $colPurple;
            background-color: $colGhostWhite;
            border-color: $colPurple;
          }
        }
        &--cancel {
          margin: 1rem 0.5rem 1rem 0rem;
          background-color: #ff5d5d;
          color: $colGhostWhite;
          border: 2px solid #ff5d5d;
          &:hover {
            color: #ff5d5d;
            background-color: $colGhostWhite;
            border-color: #ff5d5d;
          }
        }
      }
    }
  }
}
