.register{
    text-align: center;
    // margin: 0 auto;
    // padding: 2rem;
    // width: 70%;
    // background-color: $colGhostWhite;
    // border: 1px double $colPurple;
    // border-radius: 1.5rem;
    // box-shadow: 5px 10px 15px #e0e0ff;
    &__header{
        color: $colPurple;
        padding-bottom: .5rem;
        width: fit-content;
        margin: 0 auto;
        border-bottom: 3px solid;
        position: relative;
    }
    &__form{
        width: 70%;
        margin: 0 auto;
        margin-top: 3rem;
        margin-bottom: 3rem;
        input{
            border-color: $colPurple;
        }
        &__image{
            background-color: #ffff;
            color: $colPurple;
            border-color: $colPurple;
        }
        &__register{
            margin-top: 2rem;
        }
    }
}