.registerpage{
    &__image{
        background-image: url('../images/login9.jpg');
        background-size: 100% 100%;
        padding-top: 3rem;
    }
    &__register{
        padding-top: 3rem;
    }
}